/* ===== Pantalla Principal Wii ===== */
.home {
  height: 100vh;
  background: var(--bg-gradient);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__grid-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px; /* Compensate for the curved bottom bar */
}
